# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse (caso alguém abra)
.project
.classpath
.settings/

# VS Code (caso alguém abra)
.vscode/

# Build comuns
bin/
dist/

# SO / temporários
.DS_Store
Thumbs.db
hs_err_pid*
